{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
<center><h2>Поиск:</h2></center>
<form action="/find" method="POST">
    <center><input type="text" name="query" placeholder="Введите название книги..." size="40"></center>
    <center><button type="submit" style="width: 100px;background-color: lightblue;">Найти</button></center>
</form>
<h1>Книги:</h1>
{% if current_user.is_authenticated %}
    <a href="books" class="btn btn-secondary">Загрузить книгу</a>
{% endif %}
<br>
<form action="/sort" method="POST">
    <label for="genres">Жанр:</label>
    <select name="genres" id="genres">
        <option value="Комедия">Комедия</option>
        <option value="Боевик">Боевик</option>
        <option value="Хоррор">Хоррор</option>
        <option value="Детектив">Детектив</option>
        <option value="Роман">Роман</option>
        <option value="Фантастика">Фантастика</option>
        <option value="Сказка">Сказка</option>
        <option value="Мелодрама">Мелодрама</option>
        <option value="Наука">Наука</option>

    </select>
<button type="submit" style="width: 100px;background-color: lightblue;">Сортировка</button>
    <a href="/" style="height=50;width: 100px;background-color: red;" class="btn">Отмена</a>
</form>
<br>
{% for item in books%}
<div class="col-md6 border rounded">
    <h2>{{item.name}}</h2>
    <h4>{{item.main_genre}}</h4>
    <div>
        {{item.description[:50]}}...
    </div>
    <div>
        Автор - {{item.user.name}}, Дата загрузки - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    <div>
        {% if item.under_moderation == True %}
        <a href="/book/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        {% endif %}
        {% if current_user == item.user or current_user.moderator %}
        <a href="/book_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        {% endif %}
        <a href="/description/{{ item.id }}" class="btn btn-success">
            Информация
        </a>
        {% if current_user.moderator and item.under_moderation == True %}
        <a href="/public/{{ item.id }}" class="btn btn-primary">
            Опубликовать
        </a>
        {% endif %}
        {% if current_user.moderator and item.user.banned == False and item.user.moderator == False %}
        <a href="ban/{{ item.user.id }}" class="btn btn-dark">
            Заблокировать
        </a>
        {% endif %}
        {% if current_user.moderator and item.user.banned == True and item.user.moderator == False %}
        <a href="unban/{{ item.user.id }}" class="btn btn-info">
            Разблокировать
        </a>
        {% endif %}
    </div>
{% endif %}
</div>
<br>
{% endfor %}
{% endblock %}